@font-face{
    font-family:'Pokemon';
    src: url('fonts/PokemonFont.ttf') format('truetype');
    font-display: swap;
}
  

body{
    margin: 0;
    font-family: 'Pokemon', Arial, sans-serif;
}

.top-nav{
    background-color: #EE1515;
    height:70px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
}
.top-nav a{
    text-decoration:none;
    margin-right: 30px;
    color: black;
}
.logo{
    width:160px;
    margin-left:10px;
}
.about, .login, .signup{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 7px 10px;
    border: 2px dashed black;
    border-radius: 3px;

}

.hero {
    display: block;
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    margin: 0 auto; 
    object-fit: cover; 
}

.top-nav a:hover{
    text-decoration:none;
    margin-right: 30px;
    color: white;
}

.about:hover, .login:hover, .signup:hover{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 7px 10px;
    border: 2px dashed white;
}
.spacer{
    margin-left: auto; 
}

.bline{
    background-color: #222224;
    height: 30px;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.circle{
    width: 50px;
    height: 50px;
    background-color: #F0F0F0;
    border: 10px solid #222224;
    border-radius: 50%;
}

.circle:hover{
    background-image: url("/images/pikachu.jpg");
    background-color: none;
    background-size: cover;
    background-position: center;


}

/*hamburger*/
#hamburger-nav {
    display: none;    
}
.hamburger-menu{
    display: none;
    position:relative;
}

.hamburger-icon{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor:pointer; 
    position:relative;
    
}

.hamburger-icon span{
    width:100%;
    height: 2px;
    background-color: white;
    transition:all 1s;
    border-radius: 25px;
    position: relative;
}
.menu-links{
    position: absolute;
    top:100%;
    right:0;
    height:170px;
    background-color: rgb(0, 0, 0, 0.7); 
    width: 120px;
    max-height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.8s;
}

.menu-links1{
    position: absolute;
    top:100%;
    right:0;
    height:40px;
    background-color: rgb(0, 0, 0, 0.7); 
    width: 120px;
    max-height: 0;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.8s;
}

.menu-links a, .menu-links1 a{
    display: block;
    padding: 5px;
    width: 160px;
    text-align: center;
    margin-top: 10px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li, .menu-links1 li{
    list-style:none;
}
.menu-links.open, .menu-links1.open{
    margin-top:5px;
    width: 160px;
    height:10x;
    max-height:120px;
    transition: 0.8s;
    background-color: rgb(0, 0, 0, 0.7); 
    border-radius: 10px;

}

.hamburger-icon span:nth-child(1){
    position: absolute;
    top: 0;
}

.hamburger-icon span:nth-child(2){
    position: absolute;
    top: 8px;
}

.hamburger-icon span:nth-child(3){
    position: absolute;
    top: 16px;
}

.hello2 h1{
    padding:10px;
    text-align: center;
    margin-top:90px;
    line-height: 2;
    font-size:30px;
}
.button{
    display: flex;
    justify-content:center;
    align-items: center;
}

.register{
    background-color: #B30000;
    color: white;              
    padding: 12px 24px;  
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Pokemon';
    border: none;             
    text-decoration: none;
    border-radius: 8px;     
    font-size: 1rem;
    border: 2px dashed white;
    text-align: center;
    cursor: pointer;             
    transition:background-color 0.3s ease-in-out; 
}

.register:hover {
    border: 2px dashed white;
    background-color: black;
}


.passicon{
    vertical-align:text-bottom;
    height:22px;
}
.usericon{
    vertical-align:text-bottom;
    height:24px;
}

.text img, .text2 img {
    margin-right: -10px;
}


#log{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginbox{
    border-radius: 3px;
    background-color: #F0F0F0;
    border: 2px dashed black;
    width: 460px;
    height:auto;
    text-align: center;
    justify-content: center;
    
}

.loginbox h1{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;

}

.loginbox p{
    margin-top: 10px;
    font-size: 10px;

}
.text{
    margin-top: -10px;
}

.text input{
    font-size: 17px;
    border-radius: 3px;
    border: 2px dashed black;
    
}
.text2 input{
    margin-top: 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 2px dashed black;

    
}

.submitbtn{
    background-color: #B30000;
    color: white;  
    margin-top: 15px;    
    margin-bottom:10px;        
    padding: 10px 24px;  
    border: none;             
    border-radius: 10px;     
    border: 2px dashed white;
    font-family: 'Pokemon';
    font-size: .6rem;
    cursor: pointer;             
    transition:background-color 0.3s ease-in-out; 
}

.submitbtn:hover {
    border: 2px dashed white;
    background-color: black;
}


#signupz{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-200px;
}

.signupbox{
    border-radius: 3px;
    background-color: #F0F0F0;
    border: 2px dashed black;
    width: 460px;
    height:auto;
    text-align: center;
    justify-content: center;
    
}

.signupbox h1{
    margin-top: 25px;
    font-size: 25px;
    text-align: center;

}

#passwordReq{
    display:none;
    color:red;
    position: relative;

}
#passwordReq p{
    font-size: 9px;
}

.valid{
    color: green;
}
  
.valid:before{
    top:5px;
    position: relative;
    content: url(/images/check20.png);
}
.invalid{
    color: red;
}
  
.invalid:before{
    top:5px;
    position: relative;
    content: url(/images/x20.png);
}



.text3 input{
    margin-top: 15px;
    font-size: 17px;
    border-radius: 3px;
    border: 2px dashed black;
}

.text4 input{
    font-size: 17px;
    border-radius: 3px;
    border: 2px dashed black;
}

.signupbox p{
    margin-top: 5px;
    font-size: 10px;
}

.about-section{
    text-align: center;
    padding: 2rem 1rem;
    background-color: #ffffff;
    margin: 1rem;
    border-radius:8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}



.about-section h1{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.about-section p{
    line-height: 25px;
}

#aboutTeam{
    padding: 2rem 1rem;
    text-align: center;
}

#aboutTeam h2{
    align-items: center;
    font-size: 2rem;
    text-align: center;
    margin-bottom:5px;
    margin-top:5px

}



.member p2, .member4 p2, .member5 p2{
    font-size: 12px;
    color:#333;
}
.photo-grid{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 1rem;
}

.aboutTeam{
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #333;
}

.member, .member4, .member5{
    text-align: center;
}

.profile-pic{
    margin-top:30px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px dashed black;
}


#loginResult, #signupResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #95060a;
}


.search-input {
    width: 50%;
    margin-left:45px;
    padding: 10px 40px; 
    border: 2px solid #ccc;
    border-radius: 5px;
    background: url('/images/searchicon.png') no-repeat 10px center;
    background-size: 20px 20px;
    outline: none;
    font-size: 16px;
    background-color: #D9D9D9;
}
.search-bar{
    margin-top: -15px;
}

.search-input:hover{
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);
}

.add-button{
    position: absolute;
    margin-top: 1px;
    margin-left: 30px;
    width:40px;
    height:40px;
    cursor:pointer;
    background-color: #D9D9D9;
    border:none;
    border-radius: 5px;
}

.add-button:hover{
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3) ;
}
.hello h1{
    margin-top:20px;
    text-align: left;
    margin-left: 45px;
}
.hello p{
    margin-top: -25px;
    margin-bottom: 35px;
    line-height: 25px;
    text-align: left;
    margin-left: 50px;
    padding-right: 20px;
}

.addimg{
    width:20px;
    height:20px;
}


.pfpimg{
    width:100px;
    padding-right: 20px;
}

.addcontacts{
    margin-top: 25px;
    margin-left: 45px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px dashed #000;
    border-radius: 5px;
    background-color: #d3d3d3;
    position: relative;
    width: 350px;
    overflow: auto;
}

.addcontacts h3{
    font-size:14px;
}

.addcontacts p{
    font-size: 12px;
}

.initial{
    display: flex;
    width: 80%; 
    height: 80%;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translate(-33.5%, -92%); 
    font-size: 24px;
    color: Black; 
    text-align: center;
    pointer-events: none; 
    
}

.addbut{
    margin-top: 10px;
    margin-left:110px;

}

#contact-form{
    display: none;
}

.addform input{
    width:221px;
    margin-top: 5px;
}

.inputrow {
    display: flex;
    gap: 10px;
}

.hello h1{
    padding:10px;
    margin-top:20px;
    line-height: 2;
    font-size:30px;
}

#contactFirst, #contactLast, #contactFirst1, #contactLast1 {
    box-sizing: border-box; 
    width:110px;

}

.contacts-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-right: 20px;
}





@media screen and (max-width: 1300px){
    #home .about, #home .login, #home .signup{
        display: none; 
    }
    #home .hamburger-menu{
        display: flex; 
    }
    .photo-grid{
        grid-template-columns:repeat(1, 1fr);
    }
    .contacts-grid{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (max-width: 800px){
    .contacts-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .addcontacts{
        width: 325px;
    }
    .add-button{
        margin-left:-10px;
    }
}

.error-message{
    color: red;
    font-size: 10px;
    margin-left: 10px;
}

.button-img{
    width: 17px;
    height: 17px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
}



.buttons{
    position: absolute;     
    top: 10px;             
    right: 13px;         
    display: flex;
    gap: 5px;       
}

.edit-btn, .delete-btn, .save-btn, .savebut{
    border:1px dashed black;
    border-radius: 5px;
    
}
.edit-btn:hover, .delete-btn:hover, .save-btn:hover, .savebut:hover{
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);    
}


.addbut, .cancelbut, .savebut{
    border:1px dashed black;
    border-radius: 5px;
    cursor: pointer;
}
.addbut:hover, .cancelbut:hover, .savebut:hover{
    box-shadow:0px 4px 8px rgba(0, 0, 0, 0.3);    

}

.savebut, .cancelbut{
    margin-top:7px;
}
